body {
  background: url("/img/siuhung.jpg") no-repeat center center fixed;
  background-size: cover;
}

#body .main-inner {
  background: transparent !important;
}

#body .wrap {
  background: transparent !important;
}

#body .card {
  background: rgba(255, 255, 255, 0.6) !important;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}


#footer, #footer:before {
  background: transparent !important;
  color: #444 !important;
}

